<div class="container">
 <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email ID</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <% @users.each do |user| %>
    
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= link_to 'block', block_user_user_path(user) %></td>
        </tr>
      
      </tbody>

    <% end %>
  </table>
</div>